/* styles/Home.module.css */
.rightContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    transition: all 0.3s ease;
}

/* .chatContainer {
    height: 100%;
} */


.rightContent>*:last-child {
    margin-top: auto;
}

.scrollAreaContainer {
    height: 100%;
    /* height: calc(100% - 80px); */
}

.placeholder {
    margin: auto auto;
}

.editableContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
.editableContainer:hover {
    color: red;
}

.editInput,
.editTextarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.editTextarea {
    height: 60px;
}

.editIcon {
    cursor: pointer;
    margin-left: 8px;
    font-size: 1.5rem;
    display: none;
}

.editableContainer:hover .editIcon {
    display: block;
}

.buttonWrapper {
    display: flex;
    gap: 4px;
    justify-content: left;
}

.buttonWrapperSecond {
    display: flex;
}

.newMessagePopup {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffeb3b;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatinfo {
    background-color: #F4F4F4;
    padding: 20px;
    border-radius: 8px;
    margin: 0 0 20px 0;
}

.chatListItem {
    cursor: pointer;
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconContainer {
    display: flex;
    gap: 10px;
    margin: 40px 0;
    width: 100%;
    justify-content: space-evenly;
}

.icon {
    cursor: pointer;
}

.pointerCursor {
    cursor: pointer;
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stopwatch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    font-size: 2rem;
    z-index: 999;
    pointer-events: none;
}

.leftContent {
    padding: 20px;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}


.toggleButton {
    display: block;
    margin: 10px auto;
}
