/* components/Layout.module.css */
.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
}

.left {
  flex: 1;
  background-color: #F4F4F4;
}

.right {
  flex: 3;
  background-color: #ffffff;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container>*:last-child {
  margin-top: auto;
}



.input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 20px;
  margin: 0 10px;
}